{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script src="{% static 'library/preline/dist/preline.js'%}"></script>
    <title>{{ title }}</title>
</head>
<body class="bg-white dark:bg-gray-900">
    <div>
        {% include "layouts/sidebar.html"%}
    </div>
    <div class="lg:px-24 lg:pt-20 pt-20 sm:ml-64">
        {% block content %}
        {% endblock content %}
    </div>
</body>
<script src="{% static 'js/dark.js' %}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</html>